*{
padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}

audio{
    float:right;
    position: relative;
    padding-bottom: 14px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 3px;
}
video
{
    width: 600px;
    height: 680px;
    position: relative;
    float:right;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right:0px;
}


.contact
{
   position: relative; 
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content
{
    max-width:  800px;
    text-align: center;
    
}

.contact .content h2
{
   font-size:36px;
    font-weight: 500;
    color: #d4d4d4;
      
}

.contact .content p
{
   
    font-weight: 300;
    color: #d4d4d4;
      
}

.container
{
  width: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
 
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
    
    
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left:  20px;
    font-size: 16px;
    color: azure;
    flex-direction: column;
    font-weight: 300;
    
}

.container .contactInfo .box .text h3
{
    font-weight: 500;
    color:dimgrey;
    
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #ffffff;
    opacity: .6;
    
}

.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    
}

.contactForm .inputBox span
{
    position: absolute ;
    left: 0; 
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #505050;
    
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #f70000;
    font-size: 12px;
    transform: translate(-20px);
    
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #383838;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}
 
footer
{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a1919;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    
}
.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
.footer-content h4
{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.socials li 
{
    margin: 0 10px;
    
}

.socials a
{
    text-decoration: none;
    color: #f8f8f8;
    
}

.socials a i 
{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i
{
    color: #e62121;
    
}

.footer-bottom
{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    
}

.footer-bottom p
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
}


@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
        
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
        
    }
    .container .contactInfo,
    .contacrForm
    {
        width: 100%;
        
    }
}

table
{
    width: 400px;
   
}

th
{
    text-align: left;
}

table, th, td
{
    border: 1px solid #000;
    
}

th, td 
{
    padding: 10px;
}

tr:nth-child(even)
{
    background-color: azure;
}
tr:nth-child(odd)
{
    background-color: #989494;
}


body{
    font-family: montserrat;
    background-image: url(pexels-gray.jpg);
    background-size: cover;
    font-size: 20;
}

nav{
    background:#2c2727;
    height: 80px;
    width: 100%;
}
label.logo{
    padding:  0 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
a.active,a:hover{
    background: #454040;
    transition: .5s;
    
}

.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
    
}
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left:50px; 
        
    }
    nav ul li a {
        font-size: 16px;
        
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
        
    }
    ul {
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top: 80px;
        left:-100%;
        text-align: center;
        transition:all .5s;
        
        
    }
    nav ul li{
        display: block;
        margin:50px 0;
        line-height:30px;
        
    }
    nav ul li a{
        font-size: 20px;
        
    }
    a:hover, a.active{
        background: none;
        color:darkgray;
        
        
    }
   
}
    
.slide-container
    {
    width:600px;
    height:800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
     }

.image-container
    {
    width: 6000px;
    height: 800px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
     }

.slider-image 
    {
    float:left;
    margin:0px;
    padding: 0px;
    }

.button-container
    {
    top:-20px;
    position: relative;
    }

.slider-button
    {
    display:inline-block;
    height: 10px;
    width:10px;
    border-radius: 5px;
    background-color:#ffffff;
    opacity: .7;
    }

#slider-image-1:target ~.image-container
    {
    left:0px;
    }

#slider-image-2:target ~.image-container
    {
    left:-600px;
    }

#slider-image-3:target ~.image-container
    {
    left:-1200px;
    }

#slider-image-4:target ~.image-container
    {
    left:-1800px;
    }

#slider-image-5:target ~.image-container
    {
    left:-2400px;
    }

#slider-image-6:target ~.image-container
    {
    left:-3000px;
    }

#slider-image-7:target ~.image-container
    {
    left:-3600px;
    }
#slider-image-8:target ~.image-container
    {
    left:-4200px;
    }
#slider-image-9:target ~.image-container
    {
    left:-4800px;
    }

    #slider-image-10:target ~.image-container
    {
    left:-5400px;
    }

    
